*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}
.container{
max-width: 1920px;
margin: 0 auto;
}
.form{
    padding: 50px;
    width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
grid-gap: 25px;
background-color: #fff;

border-radius: 5px;
}
.input_name{
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}
.input_year{
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}
.button{
    width: 150px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
}
.content{
    display: flex;
    justify-content: center;
    
}